// header
$header-height: 60px;
$background-color: black;
// item
$large-font: 25px;
$small-font: 18px;
$dark-color: #333;
$light-color: #707070;
@mixin large-font($margin-bottom: $item-padding/2) {
  font-size: $large-font;
  color: $dark-color;
  font-weight: bold;
  margin-bottom: $margin-bottom;
}
@mixin small-font($margin-bottom: $item-padding/2) {
  font-size: $small-font;
  color: $light-color;
  margin-bottom: $margin-bottom;
}
$item-padding: 10px;
$border-style: solid 1px #707070;
